<p>Home works!</p>
<br><br>
<h1 style="text-align:center">Online Store</h1><hr>
<div style="text-align:center" class="container bg-success p-3">
    <form>
        <h4>UserName </h4>
        <input type="text" id="email" name="email" class="form-control" [(ngModel)]="model.email" required/><br><br>
        <h4>Password </h4>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="model.password" required/><br><br>
        

        <button type="submit" class="btn btn-primary" (click)="userlogin()">User Login</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-warning" (click)="usersignup()">User SignUP</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click)="adminlogin()">Admin Login</button>&nbsp;&nbsp;
    </form>
</div>
