<p>Best selling!</p>

<!--<p>{{ posts | json }}</p>-->
<table class="table table-striped">
<thead><tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Brands</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Update product</th>
    <th>Delete product</th>
    </tr></thead>
    <tbody>
        <tr *ngFor="let i of posts">
            <td>{{i.id}}</td>
            <td><input type="text" class="btn btn-warning" [(ngModel)]="i.name"  /></td>
            <td><input type="text"     [(ngModel)]="i.description"  /></td>

            <td><input type="text"      [(ngModel)]="i.brands"  /></td>
            <td><input type="number"  [(ngModel)]="i.stk"       /></td>
            <td><input type="number"  [(ngModel)]="i.price"   /></td>
           
            <td><button type="submit" class="btn btn-success" (click)="update(i.id,i.name,i.description,i.brands,i.stk,i.price,i.link)">Update</button></td>
            <td><button type="submit" class="btn btn-danger" (click)="delete(i.id)">Delete</button></td>
        </tr>
        
        <tr>
            <td><input type="number"  /></td>
            <td><input type="text"   class="btn btn-danger"  [(ngModel)]="model2.name" /></td>
            <td><input type="text"   class="btn btn-danger"  [(ngModel)]="model2.description"  /></td>
            <td><input type="text"   class="btn btn-danger"  [(ngModel)]="model2.brands"  /></td>
            <td><input type="number" class="btn btn-danger"  [(ngModel)]="model2.stk"   /></td>
            <td><input type="number" class="btn btn-danger"  [(ngModel)]="model2.price"   /></td>
            <td><input type="number" class="btn btn-danger"  [(ngModel)]="model2.link"   /></td>
            <td><button type="submit"class="btn btn-warning" (click)="create()">Add</button></td>
        </tr>
    </tbody>
        </table>

